body {
  background: url('assets/freedom.jpg') no-repeat center center fixed;
  background-size: cover;
}

full-page {
  width: 480px;
}

.text {
  padding: 5% 5%;
}

body {
  text-align: center;
}

h1 {  
  text-transform: uppercase;
  font-weight: 100;
}